In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.utils import shuffle

In [58]:
X_train = pd.read_csv('train_data.csv')
X_train.head(10)

,m_label,strength,italic,m_top,m_left,originalH,originalW,r0c0,r0c1,r0c2,...,r19c10,r19c11,r19c12,r19c13,r19c14,r19c15,r19c16,r19c17,r19c18,r19c19
0,8710,0.4,1,35,21,46,39,1,1,1,...,255,255,255,255,255,255,255,255,255,182
1,99,0.4,0,48,23,33,25,1,1,1,...,255,255,225,101,41,1,1,1,1,1
2,835,0.4,0,33,16,13,8,1,1,128,...,1,1,1,1,1,1,1,1,1,1
3,48,0.4,0,0,0,18,11,27,31,49,...,249,247,244,236,212,184,127,94,41,29
4,3653,0.4,0,46,21,50,23,1,1,1,...,1,1,1,1,56,255,255,255,255,255
5,697,0.4,0,37,25,16,7,255,255,255,...,255,255,255,255,73,1,1,1,1,1
6,52,0.4,0,0,0,13,11,40,40,40,...,222,218,222,233,240,249,240,236,157,139
7,195,0.4,1,34,21,60,58,1,1,1,...,1,1,150,255,255,255,255,238,1,1
8,7534,0.4,0,37,19,47,26,1,1,1,...,255,255,229,184,1,1,1,1,1,1
9,653,0.7,1,53,20,31,43,1,1,1,...,255,161,1,1,1,1,1,202,255,255

In [59]:
y_train = pd.read_csv('train_labels.csv')
y_train.head(10)

      Font
0    ARIAL
1    TIMES
2    TIMES
3    ARIAL
4    SERIF
5  CAMBRIA
6    ARIAL
7    ARIAL
8  CAMBRIA
9  CALIBRI

In [60]:
X_test = pd.read_csv('test_data.csv')
X_test.head(10)

,m_label,strength,italic,m_top,m_left,originalH,originalW,r0c0,r0c1,r0c2,...,r19c10,r19c11,r19c12,r19c13,r19c14,r19c15,r19c16,r19c17,r19c18,r19c19
0,49,0.4,0,0,0,36,36,1,1,1,...,114,240,255,255,255,255,255,224,114,51
1,8453,0.7,1,33,25,50,55,1,1,52,...,1,1,14,107,154,154,89,24,1,1
2,64421,0.7,1,32,31,55,39,1,1,1,...,1,1,49,132,222,255,255,195,1,1
3,1704,0.7,0,29,24,70,58,1,1,1,...,255,235,183,117,47,7,1,1,1,1
4,1102,0.4,0,49,24,39,45,125,125,83,...,125,241,255,255,212,125,1,1,1,1
5,598,0.7,0,39,22,57,35,1,1,1,...,1,1,1,22,140,217,255,255,255,204
6,722,0.7,1,64,28,15,7,255,255,255,...,1,1,1,1,1,1,1,1,1,1
7,57,0.4,0,0,0,14,8,1,1,8,...,1,1,1,1,1,20,20,10,1,1
8,65236,0.4,0,31,18,39,20,1,1,1,...,255,255,255,255,255,255,255,255,255,255
9,7811,0.4,0,35,20,46,47,1,1,1,...,1,1,1,56,227,11,1,1,1,1

In [61]:
X_train = np.array(X_train)
y_train = np.array(y_train)
X_test = np.array(X_test)
print(X_train)
print(y_train)

[[8.710e+03 4.000e-01 1.000e+00 ... 2.550e+02 2.550e+02 1.820e+02]
 [9.900e+01 4.000e-01 0.000e+00 ... 1.000e+00 1.000e+00 1.000e+00]
 [8.350e+02 4.000e-01 0.000e+00 ... 1.000e+00 1.000e+00 1.000e+00]
 ...
 [7.761e+03 7.000e-01 0.000e+00 ... 1.000e+00 1.000e+00 1.000e+00]
 [3.617e+03 7.000e-01 0.000e+00 ... 1.250e+02 1.250e+02 1.250e+02]
 [1.784e+03 4.000e-01 0.000e+00 ... 2.390e+02 2.550e+02 1.750e+02]]
[['ARIAL']
 ['TIMES']
 ['TIMES']
 ...
 ['SERIF']
 ['TAHOMA']
 ['TAHOMA']]

In [62]:
print(X_train.shape)
print(y_train.shape)

(65000, 407)
(65000, 1)

In [63]:
newlength = int(X_train.shape[0]/100)

X_train_new = X_train[:newlength]
y_train_new = y_train[:newlength]
print(X_train_new.shape)
print(y_train_new.shape)

(650, 407)
(650, 1)

In [40]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(max_iter=10000)
clf.fit(X_train, y_train.ravel())

LogisticRegression(max_iter=10000)

In [42]:
y_pred = clf_red.predict(X_test)

ValueError: maximum supported dimension for an ndarray is 32, found 29221

In [69]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()
gnb.fit(X_train, y_train.ravel())
y_pred = gnb.predict(X_test)

In [92]:
from sklearn.naive_bayes import MultinomialNB
gnb = MultinomialNB()
gnb.fit(X_train, y_train.ravel())
y_pred = gnb.predict(X_test)

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

clf1 = BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=128)
clf1.fit(X_train, y_train.ravel())
y_pred = clf1.predict(X_train)

In [93]:
print(y_pred)

['ARIAL' 'CALIBRI' 'SERIF' ... 'CAMBRIA' 'SERIF' 'ARIAL']

In [94]:
from numpy import savetxt

# abc = np.vstack(np.arange(y_pred.shape[0]))
# output = np.hstack((abc, np.vstack(y_pred)))
# y_pred_v = np.vstack(y_pred)
# print(y_pred_v)


#savetxt('./data.csv', output, delimiter=',')

# df = pd.DataFrame(output)
# df.to_csv('data.csv',index=False, header=['ID', 'Font'])

sample_submission = pd.read_csv('./sample_submission.csv')

out = pd.DataFrame({'ID': sample_submission.ID,'Font': y_pred})
out.to_csv('data.csv', index=False)

[['ARIAL']
 ['CALIBRI']
 ['SERIF']
 ...
 ['CAMBRIA']
 ['SERIF']
 ['ARIAL']]